<!DOCTYPE HTML>
<HTML>
<HEAD> <meta charset="UTF-8"> <TITLE> Визуализация данных</TITLE>


 {% load staticfiles %}
<script src="{% static 'search_site/russia.js' %}"></script>
<link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}" />
<script src="{% static 'leaflet/leaflet.js' %}"></script>
<script src="{% static 'search_site/loadJSON.js' %}"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>

{% comment %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
<script src="https://raw.githubusercontent.com/Kreozot/russian-geo-data/master/geo.json"></script>{% endcomment %}


<style>
#map {float:left; width: 50%; height: 500px; }
{##map {float:left; width: 960px; height: 500px; }#}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
body{background-color:white ; width:100%}

 #header1 {width:100%;
          height:50px;
         display: block;
          background-color: #000033;
 }

</style>
</HEAD>


<header>
{#<H3 style="font: bold 25pt Georgia verdana italic;text-align:center; color:#14126e;margin-top:20px"> Информация об online-курсах </H3>#}
    <p style = "margin-top:10px; text-align: center"><img  src= "{% static "search_site/fon_zag3.png" %}"></p>
</header>

<header1>
<div id="header1">

<DiV id="menu" STYLE="position:static;width:40%; margin-top:-20px;align: center; text-align:center;margin-left:40%">
	<TABLE style="BORDER:0; border-spacing:10px; WIDTH:60%; HIGHT:30px" >
	<TR>
	<TD style="font-size:20px; border-radius: 10px; border-collapse:separate; background-color: #f4f4f4; border-bottom:" class=mainMenu id="m1" onclick=Mmclick('post_list2.html') onmouseover=Mmover(1) onmouseout=Mmout(1)>&nbsp;Карта&nbsp</TD>
        <TD style="font-size:20px;border-radius: 10px; border-collapse:separate; background-color: #f4f4f4; border-bottom:" class=mainMenu id="m2" onclick=Mmclick('chart1.html') onmouseover=Mmover(2) onmouseout=Mmout(2)>&nbsp;Диаграммы&nbsp</TD>
   </TR>
	</TABLE>
	</DIV>

</div>


<SCRIPT>
	//**** Выделение элементов главного меню при наведении указателя мыши ****//
	function Mmover(x)
	{
		eval("document.all['m'+x].style.backgroundColor='#898989'")
	}

	//**** снятие выделения элементов главного меню при отведении указателя мыши ****//
	function Mmout(x)
	{
		eval("document.all['m'+x].style.backgroundColor='#f4f4f4'")
	}

	//**** если в качестве параметра передается не URL, а код на JavaScript то его следует передавать в формате 'javascript:<код>' ****//
	function Mmclick(s)
	{
		if(s.indexOf('javascript:')==0) eval(s)
		else if (s != '') window.location.href=s

	}

</SCRIPT>
</header1>
<hr><br>


<BODY >

{#область для отображения карты#}
<div id="map"></div>

<script type='text/javascript'>

//Определяется карта, координаты центра и начальный масштаб

var map = L.map('map', {
    center: [62,85],
    zoom: 2,
    maxZoom: 5,
    minZoom: 1,
    maxBounds:true
});

//Добавляется на  карту слой OpenStreetMap
L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a rel="nofollow" href="http://osm.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);



function getSomeColor(d) {
     if (typeof d != 'undefined') {
          return d >= 10000 ? '#800026' :
                 d >= 5000 ?  '#BD0026' :
                 d >= 1000  ? '#E31A1C' :
                 d >= 500 ?   '#FC4E2A' :
                 d >= 100 ?   '#FD8D3C' :
                 d >= 50 ?    '#FEB24C' :
                 d >= 10  ?   '#FED976' :
                              '#FFEDA0';

    }
    else
        return null;

}

function style(feature) {

    return {
        fillColor: getSomeColor(feature.properties.people),
        weight: 2,
        opacity: 1,
        color: '#a89e9d',
        dashArray: '3',
        fillOpacity: 0.7
    };

}


var regionData = loadJSONsync("https://raw.githubusercontent.com/Kreozot/russian-geo-data/master/geo.json");

for (var i=0; i < regionData.features.length; i++) {
     //ключевное поле
    var key = regionData.features[i].properties.ID_1;

     // ищем регион
     if (key in peopleData) {
     // добавляем значение
        regionData.features[i].properties['people'] = peopleData[key].value;
        console.log(key);
  }
}

var geodata = L.geoJSON(regionData, {style: style, onEachFeature: onEachFeature});
geodata.addTo(map);



function highlightFeature(e) {
    var layer = e.target;

    layer.setStyle({
        weight: 1,
        color: '#3d0707',
        dashArray: '',
        fillOpacity: 0.9
    });

    if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
        layer.bringToFront();
    }

    info.update(layer.feature.properties);
}

function resetHighlight(e) {
    geodata.resetStyle(e.target);
    info.update();
}

function zoomToFeature(e) {
    map.fitBounds(e.target.getBounds());
}

function onEachFeature(feature, layer) {
    layer.on({
        mouseover: highlightFeature,
        mouseout: resetHighlight,
        click: zoomToFeature
    });
}




var info = L.control();

info.onAdd = function (map) {
    this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
    this.update();
    return this._div;
};

// method that we will use to update the control based on feature properties passed
info.update = function (props) {
    this._div.innerHTML = '<h4>Количество студентов</h4>' +  (props ?
        '<b>' + props.NAME_1 + '</b><br />' + props.people + ' студентов'
        : 'Наведите указатель мыши на регион');
};
info.addTo(map);



var legend = L.control({position: 'bottomright'});

legend.onAdd = function (map) {

    var div = L.DomUtil.create('div', 'info legend'),
        grades = [0, 10, 50, 100, 500, 1000, 5000, 10000],
        labels = [];

    // loop through our density intervals and generate a label with a colored square for each interval
    for (var i = 0; i < grades.length; i++) {
        div.innerHTML +=
            '<i style="background:' + getSomeColor(grades[i] + 1) + '"></i> ' +
            grades[i] + (grades[i + 1] ? '&ndash;' + grades[i + 1] + '<br>' : '+');
    }

    return div;
};

legend.addTo(map);


</script>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

    var chdata = new Array(['Оценка', 'Число оценок']);

         for (var key in peopleData){


    {% comment %}if (peopleData[key].NAME_1 == 'Moskva'){% endcomment %}
      if (regionData = {onEachFeature: highlightFeature}){
      chdata.push(['Пятерок', peopleData[key].rating5]);
      chdata.push(['Четверок', peopleData[key].rating4]);
      chdata.push(['Троек', peopleData[key].rating3]);
      chdata.push(['Двоек', peopleData[key].rating2]);
    }
  }

    alert(chdata);

   google.charts.load('current', {'packages':['corechart']});
   google.charts.setOnLoadCallback(drawChart);
   function drawChart() {
    var data1 = google.visualization.arrayToDataTable(chdata);
    var options = {
     title: 'Популярность курсов',
     titleTextStyle: { color:'black',
                      fontSize: 13},
     is3D: true,
     slices: {  1: {offset: 0.2},
                    3: {offset: 0.3},
                    5: {offset: 0.4},
                    8: {offset: 0.5},
          },
     chartArea:{left:0,top:5,width:'80%',height:'auto' },
     legend:{position: 'left', maxLines:11, textStyle: {color: 'black', fontSize: 14}},

    };
    var chart = new google.visualization.PieChart(document.getElementById('popularity'));
     chart.draw(data1, options);
   }
   </script>



  {% comment %} <script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
   google.charts.setOnLoadCallback(drawChart);
   function drawChart() {
    var data2 = google.visualization.arrayToDataTable([
     ['Возраст', 'Значение %'],
     ['15-17', 5],
     ['18-25', 40],
     ['26-30',   35],
     ['31-40', 10],
     ['41-60', 8],
     ['61 и старше',  2]
    ]);

    var options = {
     title: 'Возраст студентов курсов',
     is3D: true,
     slices: {  1: {offset: 0.2},
                    2: {offset: 0.5}
          },
     chartArea:{left:0,top:5,width:'80%',height:'auto'},
     legend:{position: 'left', maxLines:11, textStyle: {color: 'black', fontSize: 14}},

    };
    var chart = new google.visualization.PieChart(document.getElementById('age'));
     chart.draw(data2, options);
   }
  </script>{% endcomment %}

 <div id="popularity" style="float:right; width: 40%; height: 400px"></div>
 <div id="age" style="float:right; width: 40%;  margin-left: 50%; margin-top: -10%; height: 400px">{{ form }} </div>



 {% comment %}<div id="popularity" style="float:right; width: 40%; font-size: 16pt; font-family: Lucinda Grande, Lucinda Sans Unicode, Helvetica, Arial, Verdana, sans-serif; padding-right: 4%; text-align: inherit">
    <ul>
  <li>Интерактивная карта отображает информацию по общему количеству студентов компьютерных online-курсов по всем регионам России.</li>
     <br>
  <li>Для получения информации по какому-либо региону, наведите на него указатель мыши. В правом верхнем углу карты появится подробная информация.</li>
      <br>
  <li>Легенда в правой нижней части карты в общем виде отображает данные для различия варьируемости количества студентов посредством выделения зон разными цветами.</li>
      <br>
  <li>Для перемещения по карте зажмите левую кнопку мыши и начните двигать указатель в нужном направлении. При необходимости отрегулируйте масштаб.</li>
        </ul>

 </div>{% endcomment %}
 <div id="age" style="float:right; width: 40%; margin-top: 5%; margin-left: 60%"></div>



</BODY>
</HTML>
