<!DOCTYPE HTML>
<HTML>
<HEAD> <TITLE> Визуализация данных</TITLE>

{% load staticfiles %}

<link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}" />
<script src="{% static 'leaflet/leaflet.js' %}"></script>
<script src="{% static 'search_site/loadJSON.js' %}"></script>
<script src="https://raw.githubusercontent.com/Kreozot/russian-geo-data/master/geo.json"></script>


<script src="https://d3js.org/d3.v4.min.js"></script>

<style>
body{ text-align: center}
#map {width: 960px; height: 500px; }

</style>
</HEAD>


<header>
{% load staticfiles %}
<H3 style="font: bold 25pt Georgia verdana italic;text-align:center; color:#14126e;margin-top:40px"> Статистика количества учащихся на онлайн курсах по национальности </H3>
</header>

<BODY >

{#область для отображения карты#}
<div id="map"></div>

<script type='text/javascript'>

//Определяется карта, координаты центра и начальный масштаб
//var map = L.map('map').setView([56.326944,75], 2.7);
var map = L.map('map', {
    center: [56.326944,75],
    zoom: 2.7,
    maxZoom: 4,
    minZoom: 2,
    maxBounds:true
});

//Добавляется на  карту слой OpenStreetMap
L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a rel="nofollow" href="http://osm.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

function getColor(d) {
    return d > 1000 ? '#800026' :
           d > 500  ? '#BD0026' :
           d > 200  ? '#E31A1C' :
           d > 100  ? '#FC4E2A' :
           d > 50   ? '#FD8D3C' :
           d > 20   ? '#FEB24C' :
           d > 10   ? '#FED976' :
                      '#FFEDA0';
}

function getSomeColor(d) {
    d = d%8;
    return d == 0 ? '#800026' :
           d == 1  ? '#BD0026' :
           d == 2  ? '#E31A1C' :
           d == 3  ? '#FC4E2A' :
           d == 4  ? '#FD8D3C' :
           d == 5  ? '#FEB24C' :
           d == 6  ? '#FED976' :
                      '#FFEDA0';
}

function style(feature) {
    return {
        fillColor: getSiomeColor(feature.properties.ID_1),
        weight: 2,
        opacity: 1,
        color: 'white',
        dashArray: '3',
        fillOpacity: 0.7
    };
}


var geodata = L.geoJSON(statesData, {style: style});
geodata.addTo(map);

</script>




</BODY>
</HTML>
