<STYLE> 

html,BODY (height:100%)
BODY {background-color:#ffffff;margin:0px;}

header,header1,article,aside,footer,body2 {display: block; overflow:hidden}


header {
        width:100%;
        height:120px;
		background-color:#ffffff;
       
        min-width:550px;
        text-align:center;
        border-bottom-color:white;
        border-bottom-style: solid;
        border-bottom-width: 2px;
         }

#header1 {width:100%;
          max-width:1700px;
          margin-top:3px;
          background-color:#ffffff;
          height:50px;}


.mainMenu
       {
	background-color:#9d9ccd;
	font-size:12pt;
	font-weight:bold;
	visibility:visible}



#allbody { background-color:#ffffff;
          background-image:url(fon_2560x1600.jpg);
          background-size:contain;
          background-repeat:no-repeat
           }

#leftContent{ float:left;
              width:55%;
              padding:2px 3px;
              text-align:center;
              min-height:1000px;
              border-right-color:white;
              border-right-style: solid;
              border-right-width: 4px;
              background-color:black;
              background-attachment:fixed;
              position:absolute;
              height: 1600px;
               }

#container {margin-left:56%;
            width:44%;
	    overflow:hidden;
            min-width:150px;
            min-height:1020px;
            background-color:#ffffff;
             height: 1600px;}

article {width:100%;
         min-height:200px;
         margin-left:8px}

body2 {position: relative;
	height: 1200px;
	width: 100%;
	background-image:url(fon_2560x1600.jpg);
        background-color:#ffffff;}


footer {clear:both;
        width:100%;
        height:100px;
	background:#221121;
	position: relative;
        min-width:550px;
        text-align:center;
        padding-top:5px;}





H1{font: bold 30pt ; color:#ff3300} 
 P { font-family: Verdana, arial; font-size: medium} 

B{color:#000000}

</STYLE> 






